<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <div class="content-box">
        <h3>History</h3>
        <div class="table-wrapper">
          <table class="mb-0">
            <thead>
            <tr>
              <th scope="col">Currency</th>
              <th scope="col">Quantity</th>
              <th scope="col">USD</th>
              <th scope="col" width="1px"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="isLoading; else dataTemp">
              <td colspan="4" height="300px">
                <mat-spinner class="m-auto" [diameter]="30"></mat-spinner>
              </td>
            </tr>
            <ng-template #dataTemp>
              <tr *ngFor="let item of filteredItems">
                <td>{{item.currency}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.usdPrice}}$</td>
                <td>
                  <div class="row align-items-end flex-nowrap gx-2">
                    <div class="col-auto">
                      <button
                        class="contrast outline d-block text-truncate mb-0"
                        (click)="$event.preventDefault(); withdraw(item.currency)">
                        {{'common.withdraw' | translate}}
                      </button>
                    </div>
                    <div class="col-auto">
                      <button
                        class="outline d-block text-truncate mb-0"
                        (click)="$event.preventDefault(); deposit(item.currency)">
                        {{'common.deposit' | translate}}
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
