<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <div class="content-box">
        <h3 class="text-center">{{'common.transactionHistory' | translate}}</h3>
        <div class="table-wrapper">
          <table class="mb-0">
            <thead>
            <tr>
              <th scope="col" style="width: 30px">#</th>
              <th scope="col" style="width: 100px">{{'common.currency' | translate}}</th>
              <th scope="col" style="width: 120px">{{'common.network' | translate}}</th>
              <th scope="col" style="width: 120px">{{'common.amount' | translate}}</th>
              <th scope="col" style="width: 120px">{{'common.type' | translate}}</th>
              <th scope="col" >{{'common.status' | translate}}</th>
              <th scope="col" style="width: 180px">{{'common.date' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="isLoading; else dataTemp">
              <td colspan="4" height="300px">
                <mat-spinner class="m-auto" [diameter]="30"></mat-spinner>
              </td>
            </tr>
            <ng-template #dataTemp>
              <tr *ngFor="let item of rows; let i = index">
                <td>{{i + 1}}</td>
                <td>{{item.currency}}</td>
                <td>{{item.network}}</td>
                <td>{{item.amount.toFixed(5)}}</td>
                <td>
                  <span
                    class="status-pill status-info"
                    [ngClass]="{
                      'status-success': item.type == balanceTransactionType.DEPOSIT,
                      'status-warn': item.type == balanceTransactionType.WITHDRAW,
                      'status-info': item.type == balanceTransactionType.TRANSFER
                    }">
                    {{item.type | titlecase}}
                  </span>
                </td>
                <td>
                  <span
                    class="status-pill"
                    [ngClass]="{
                      'status-info': item.status == balanceTransactionStatus.PENDING,
                      'status-success': item.status == balanceTransactionStatus.ACCEPTED,
                      'status-danger': item.status == balanceTransactionStatus.DECLINED
                    }">
                    {{item.status | titlecase}}
                  </span>
                </td>
                <td>
                  {{item.createdAt | date : dateFullFormat}}
                </td>
              </tr>
            </ng-template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
