<div class="fincoinz">
  <main>
    <section class="about__first">
      <div class="container">
        <h2>About us</h2>
        <div class="about__first-content">
          <div class="about__first-content__start">

            <p>
              <b>
                Since 2015, We provide best service for our
                valuable clients.
              </b>
            </p>
            <p>
              A place for everyone who wants to simply buy and
              sell Bitcoins. Deposit funds using your
              cryptocurrencies. Instant buy/sell of Bitcoins
              at fair price is guaranteed. Nothing extra. Join
              over 50,000 users from all over the world
              satisfied with our services. We are here because
              we are passionate about open, transparent
              markets and aim to be a major driving force in
              widespread adoption, we are the first and the
              best in cryptocurrency.
            </p>
          </div>
          <div class="about__first-content__second">
            <h3>Our partners</h3>
            <p>Setting the level together</p>
          </div>
          <div class="about__first-content__third">
            <img src="assets/images/logo-01.svg" alt="">
            <img src="assets/images/logo-02.svg" alt="">
            <img src="assets/images/logo-03.svg" alt="">
            <img src="assets/images/logo-044.svg" alt="">
            <img src="assets/images/logo-06.svg" alt="">
            <img src="assets/images/logo-07.svg" alt="">
          </div>
          <div class="about__first-content__four">
            <div class="about__first-content__four-item">
              <div class="about__first-content__four-item-top">
                <img src="assets/images/img19.png" alt="">
                <p>STRONG SECURITY</p>
              </div>
              <div class="about__first-content__four-item-bottom">
                <p>
                  Protection against DDoS attacks, full
                  data encryption
                </p>
              </div>
            </div>
            <div class="about__first-content__four-item">
              <div class="about__first-content__four-item-top">
                <img src="assets/images/img20.png" alt="">
                <p>WORLD COVERAGE</p>
              </div>
              <div class="about__first-content__four-item-bottom">
                <p>
                  Providing services in 99% countries
                  around all the globe
                </p>
              </div>
            </div>
            <div class="about__first-content__four-item">
              <div class="about__first-content__four-item-top">
                <img src="assets/images/img21.png" alt="">
                <p>SAFE AND SECURE</p>
              </div>
              <div class="about__first-content__four-item-bottom">
                <p>
                  Our platform is designed to protect
                  funds and personal data better. Your
                  privacy always comes first
                </p>
              </div>
            </div>
            <div class="about__first-content__four-item">
              <div class="about__first-content__four-item-top">
                <img src="assets/images/img22.png" alt="">
                <p>HIGH LIQUIDITY</p>
              </div>
              <div class="about__first-content__four-item-bottom">
                <p>
                  Fast access to high liquidity orderbook
                  for top currency pairs
                </p>
              </div>
            </div>

            <div class="about__first-content__five-item">
              <h3>Our advantages</h3>
              <p>
                Our mission as an official partner of
                Bitcoin Foundation is to help you enter and
                better understand the world of #1
                cryptocurrency and avoid any issues you may
                encounter.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
