<div class="fincoinz">
  <footer>
    <div class="container">
      <div class="footer__content">
        <div class="footer__content-top">
          <div class="footer__content-top__left">
            <h3>Let's talk!</h3>
            <p>
              <a href="tel:+442420632906">+44 242 063 2906</a>
            </p>
            <p>
              <a href="mailto:support@fincoinz.com"
              >support@fincoinz.com</a
              >
            </p>
            <span>
                                FinCoinz Limited (No. 117890) serves customers
                                from the European Union and European Economic
                                Area (EEA) and is regulated by the Gibraltar
                                Financial Services Commission as a DLT Provider
                                under the authorization number: FSC0764FSA.
                                Registered Address: 8-10 Queensway Montagu
                                Pavilion Gibraltar GX11
                            </span>
          </div>
          <div class="footer__content-top__middle">
            <h3>Navigation</h3>
            <nav>
              <ul>
                <li><a href="#">Main</a></li>
                <li>
                  <a [routerLink]="'/dashboard/wallets'">Wallets</a>
                </li>
                <li>
                  <a [routerLink]="'/dashboard/wallets/exchange-tokens'">Exchange</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a [routerLink]="'/dashboard/wallets/history'">History</a>
                </li>
                <li><a [routerLink]="'/about-us'">About us</a></li>
                <li><a [routerLink]="'/terms'">Terms</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__content-top__right">
            <h3>Newsletters</h3>
            <p>
              Subscribe Our Newsletter To Get More Free Design
              Course And Resource.
            </p>
            <form id="subscribe-form">
              <input
                type="email"
                placeholder="Enter your email"
                required=""
              />
              <button type="submit" class="btn-action">
                Submit
              </button>
            </form>
          </div>
        </div>
        <div class="footer__content-bottom">
          <p>FinCoinz © All right reserved 2018 - 2023.</p>
        </div>
      </div>
    </div>
  </footer>
</div>

