[class^="content-box"] {
  -webkit-box-shadow: 0 15px 30px rgba(55, 61, 67, 0.02);
  box-shadow: 0 15px 30px rgba(55, 61, 67, 0.02);
  border-radius: 15px;
  margin: 0 16px;
  background: var(--secondary-bg);
  padding: 28px 23px;
  flex: 1;
  position: relative;
  overflow: hidden;

  .content-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(#000000, 0.75);
    padding: 16px;

    p {
      max-width: 450px;
    }
  }

  &.content-box-sm {
    max-width: 390px;
  }

  &.content-box-md {
    max-width: 560px;
  }

  &.content-box-lg {
    max-width: 760px;
  }

  &.content-box-xl {
    max-width: 960px;
  }
}
