<div class="d-flex justify-content-center">
  <div
    class="content-box-lg mt-5 mb-5"
    [ngClass]="{
      'loading': isLoading
    }">
    <div
      @fadeInOut
      *ngIf="isLoading"
      class="content-box-overlay">
      <ng-container *ngIf="isAccepted; else spinnerTemp">
        <div class="success-info text-center">
          <div class="success-info-icon m-auto">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="122.877px" height="101.052px" viewBox="0 0 122.877 101.052" enable-background="new 0 0 122.877 101.052" xml:space="preserve"><g><path d="M4.43,63.63c-2.869-2.755-4.352-6.42-4.427-10.11c-0.074-3.689,1.261-7.412,4.015-10.281 c2.752-2.867,6.417-4.351,10.106-4.425c3.691-0.076,7.412,1.255,10.283,4.012l24.787,23.851L98.543,3.989l1.768,1.349l-1.77-1.355 c0.141-0.183,0.301-0.339,0.479-0.466c2.936-2.543,6.621-3.691,10.223-3.495V0.018l0.176,0.016c3.623,0.24,7.162,1.85,9.775,4.766 c2.658,2.965,3.863,6.731,3.662,10.412h0.004l-0.016,0.176c-0.236,3.558-1.791,7.035-4.609,9.632l-59.224,72.09l0.004,0.004 c-0.111,0.141-0.236,0.262-0.372,0.368c-2.773,2.435-6.275,3.629-9.757,3.569c-3.511-0.061-7.015-1.396-9.741-4.016L4.43,63.63 L4.43,63.63z"></path></g></svg>
          </div>
          <h5 class="mt-3 mb-3">{{'common.success' | translate}}</h5>
          <p>{{'common.paymentReceived' | translate}}</p>
          <button
            class="outline d-block mb-2"
            (click)="$event.preventDefault(); backToProfile()">
            {{'common.backToProfile' | translate}}
          </button>
        </div>
      </ng-container>
      <ng-template #spinnerTemp>
        <mat-spinner [diameter]="50"></mat-spinner>
      </ng-template>
    </div>
    <h3 class="text-center mb-2">
      {{'common.paymentOrder' | translate}}
    </h3>
    <small class="text-center d-block text-secondary m-auto">
      {{'common.paymentOrderDesc' | translate }}
    </small>
    <div class="row mt-2">
      <div class="col-md-6 col-12">
        <div class="mb-3">
          <div class="row align-items-end gx-1">
            <div class="col">
              <div class="form-group">
                <label for="address">
                  {{'common.address' | translate}}
                </label>
                <input
                  style="text-overflow: ellipsis"
                  class="mb-0"
                  type="text"
                  id="address"
                  disabled
                  [value]="order ? order.address : '...'">
              </div>
            </div>
            <div class="col-auto">
              <button
                class="mb-0 outline lg-icon-button"
                copyToClipboard
                [matTooltip]="'common.copyToClipboard' | translate"
                [disabled]="isLoading"
                [clipboardText]="order ? order.address : '...'">
                <mat-icon>file_copy</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <img
          class="d-block m-auto"
          width="185"
          height="185"
          [attr.src]="order && order.qrCode">
        <div class="text-center mt-3">
          <p class="mb-1">{{'common.validThrough' | translate}}</p>
          <h4 class="m-0 text-primary">{{clock}}</h4>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="order-details">
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.orderId' | translate}}:</span>
            </div>
            <div class="col-6">
              <div class="row gx-1 flex-nowrap">
                <div class="col" style="max-width: calc(100% - 24px)">
                  <span class="text-end text-truncate d-block">{{order ? order.id : '-'}}</span>
                </div>
                <div class="col-auto">
                  <button
                    *ngIf="!isLoading"
                    class="mb-0 sm-icon-button"
                    copyToClipboard
                    [matTooltip]="'common.copyToClipboard' | translate"
                    [clipboardText]="order ? order.id : '...'">
                    <mat-icon>file_copy</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.date' | translate}}:</span>
            </div>
            <div class="col-6">
              <span
                class="text-end text-truncate d-block">{{order ? (order.createdAt | date : dateFullFormat) : '-'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.paymentMethod' | translate}}:</span>
            </div>
            <div class="col-6">
              <span class="text-end text-truncate d-block">{{order ? order.paymentMethod : '-'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.amount' | translate}}:</span>
            </div>
            <div class="col-6">
              <span class="text-end text-truncate d-block">{{order ? order.amount : '-'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.replenishment' | translate}}:</span>
            </div>
            <div class="col-6">
              <span class="text-end text-truncate d-block">{{order ? order.topUpFee : '-'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.totalAmount' | translate}}:</span>
            </div>
            <div class="col-6">
              <span class="text-end text-truncate d-block">{{order ? order.totalAmount : '-'}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <span class="text-secondary">{{'common.status' | translate}}:</span>
            </div>
            <div class="col-6 text-end">
              <span
                *ngIf="order && order.status; else noStatus"
                class="status-pill"
                [ngClass]="{
                  'status-info': order.status == transactionStatus.PENDING,
                  'status-success': order.status == transactionStatus.ACCEPTED,
                  'status-danger': order.status == transactionStatus.DECLINED
                }">
                {{order.status | titlecase}}
              </span>
              <ng-template #noStatus>
                <span class="text-end text-truncate d-block">{{'-'}}</span>
              </ng-template>
            </div>
          </div>
        </div>
        <button
          class="secondary d-block mb-2"
          [disabled]="isLoading"
          (click)="$event.preventDefault(); cancelOrder()">
          {{'common.cancelOrder' | translate}}
        </button>
        <div class="text-center">
          <a
            target="_blank"
            [attr.href]="supportLink">
            {{'common.gotProblems?' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
