mat-icon {
  width: 52px;
  height: 52px;
  background-color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  min-width: 120px;
}

[type=checkbox], [type=radio] {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
