<div class="d-flex justify-content-center mt-5 mb-5">
  <form
    class="content-box-sm"
    [formGroup]="formGroup"
    (submit)="$event.preventDefault(); onSubmit()">
    <h3 class="text-center mb-2">
      {{'common.withdraw' | translate}}
    </h3>
    <div class="form-group">
      <label for="paymentMethod">
        {{'common.currency' | translate}}
      </label>
      <select
        id="paymentMethod"
        [formControlName]="'currency'">
        <option
          [value]="pm.value"
          *ngFor="let pm of paymentMethods">
          {{pm.key}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="amount">
        {{'common.amountToWithdraw' | translate}}
      </label>
      <input
        type="text"
        id="amount"
        name="amount"
        placeholder="100"
        required
        [formControlName]="'amount'">
      <small>{{'common.availableBalance' | translate}}: {{tokenAvailableBalance}}</small>
    </div>
    <div class="form-group">
      <label for="address">
        {{'common.addressToWithdraw' | translate}}
      </label>
      <input
        type="text"
        id="address"
        name="address"
        placeholder="*****eqM7cr7e******TUSTXZz*****DP"
        required
        [formControlName]="'address'">
    </div>
    <button
      class="mb-0"
      type="submit"
      [attr.aria-busy]="isLoading">
      {{'common.withdraw' | translate}}
    </button>
  </form>
</div>
