<div class="fincoinz">
  <header class="header">
    <div class="container">
      <div class="header__items">
        <div class="header__items-logo">
          <a href="./index.html"
          ><img src="./images/logo.png" alt="FinCoinz"
          /></a>
        </div>
        <div class="header__items-links">
          <nav>
            <a href="./wallet.html">Wallets</a>
            <a href="./exchange.html">Exchange</a>
            <a href="./staking.html">Staking</a>
            <a href="./about-us.html">About us</a>
            <a href="./terms.html">Terms</a>
          </nav>
        </div>
        <div class="header__items-btns">
          <a href="./register.html">Login</a>
        </div>
        <div class="menu-btn">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="menu">
          <nav>
            <a href="./register.html">Login</a>
            <a href="./wallet.html">Wallets</a>
            <a href="./exchange.html">Exchange</a>
            <a href="./staking.html">Staking</a>
            <a href="./about-us.html">About us</a>
            <a href="./terms.html">Terms</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
