<div class="fincoinz">
  <main>
    <section class="terms-section">
      <div class="container">
        <h2>Terms FinCoinz</h2>
        <p>
          1. Parties to the agreement. The contract is concluded
          between the Internet service for the exchange of title
          units, hereinafter referred to as the Contractor, on the
          one hand, and the Customer, represented by the one who
          used the services of the Contractor, on the other hand.
          FinCoinz Limited (No. 117890) serves customers from the
          European Union and European Economic Area (EEA) and is
          regulated by the Gibraltar Financial Services Commission
          as a DLT Provider under the authorization number:
          FSC0764FSA. Registered Address: 8-10 Queensway Montagu
          Pavilion Gibraltar GX11.
        </p>
        <p>2. List of terms.</p>
        <p>
          2.1. Title unit exchange is an automated Internet
          service product provided by the Contractor on the basis
          of these rules.
        </p>
        <p>
          2.2. Customer - an individual who agrees with the terms
          of the Contractor and this agreement, to which he joins.
        </p>
        <p>
          2.3. The title character is a conventional unit of a
          particular payment system, which corresponds to the
          calculations of electronic systems and indicates the
          scope of rights corresponding to the agreement between
          the electronic payment system and its Customer.
        </p>
        <p>
          2.4. Application - information transmitted by the
          Customer for the use of the Contractor's funds in
          electronic form and indicating that he accepts the terms
          of use of the service, which are offered by the
          Contractor in this application.
        </p>
        <p>
          2.5. KYC &amp; AML - "Know Your Customer" (know your
          customer) and "Anti-Money Laundering" (anti-money
          laundering).
        </p>
        <p>
          2.6. Rate — the cost ratio of cryptocurrency, electronic
          money and fiat currency to each other during the
          exchange.
        </p>
        <p>
          3. Terms of the agreement. These rules are considered to
          be organized due to the terms of the public offer, which
          is formed at the time the Customer submits an
          application and is one of the main components of this
          agreement. A public offer is the information displayed
          by the contractor about the conditions for submitting an
          application. The main components of the public offer are
          the actions taken at the end of the application by the
          Customer and talking about his exact intentions to make
          a deal on the terms proposed by the Contractor before
          completing this application. The time, date, and
          parameters of the application are created by the
          Contractor automatically at the time of completion of
          the formation of this application. The offer must be
          accepted by the Customer within 24 hours from the end of
          the formation of the application. The Service Agreement
          shall enter into force upon receipt of the title units
          in the full amount specified in the application from the
          Customer to the details of the Contractor. Operations
          with title units are accounted for in accordance with
          the rules, regulations and format of electronic
          settlement systems. The contract is valid for a period,
          which is established from the moment of filing an
          application until termination at the initiative of one
          of the parties.
        </p>
        <p>
          4. Subject of the agreement. By using technical methods,
          the Contractor undertakes to carry out the exchange of
          title units for a commission from the Customer, after
          the submission of an application by this person and does
          this by selling title units to persons who wish to
          purchase them for an amount indicated not lower than in
          the application submitted by the Customer. The
          Contractor undertakes to transfer funds to the details
          specified by the Customer. In the event of a profit
          during the exchange, it remains on the Contractor's
          account as an additional benefit and a premium for
          commission services.
        </p>
        <p>5. In addition.</p>
        <p>
          5.1. If the Contractor's account receives an amount that
          differs from that specified in the application, the
          Contractor makes a recalculation that corresponds to the
          actual receipt of title units. If this amount exceeds
          the amount specified in the application by more than
          0.3%, the Contractor terminates the contract
          unilaterally and all funds are returned to the details
          of the Customer, taking into account the amount deducted
          for commission costs during the translation, labor costs
          and additional costs in the amount of 99% of the amount
          received funds. 5.1.1 Funds are credited in accordance
          with the rules of the FinCoinz. For the BTC network, 2
          confirmations are required, ETH - 20, ETC - 300, LTC -
          10, XMR - 10, Dash - 10, DOGE - 20, etc. . We draw your
          attention to the fact that in the case of technical work
          on certain cryptocurrencies, there will be delays in
          depositing your funds and paying you out until the
          technical work on the exchange is completed.
        </p>
        <p>
          5.1.2 The exchange service has the right to send funds
          not in one transaction, but from several wallets in
          several transactions.
        </p>
        <p>
          5.1.3 The exchange service has the right to send funds
          in one transaction to one wallet, without splitting into
          several transfers.
        </p>
        <p>
          5.2. In the event that the title units are not sent by
          the Contractor to the specified details of the Customer
          within 24 hours, the Customer has the full right to
          demand termination of the agreement and cancel his
          application, thereby returning the title units to his
          account in full. An application for termination of the
          agreement and return of title units is carried out by
          the Contractor in the event that the funds have not yet
          been transferred to the specified details of the
          Customer. In case of cancellation of the contract, the
          return of the electronic currency is made within 24
          hours from the receipt of the request to terminate the
          contract. If delays in the return occurred through no
          fault of the Contractor, he is not responsible for them.
        </p>
        <p>
          5.3. If the title units are not received from the
          Customer to the account of the Contractor within the
          specified period, from the moment the application is
          submitted by the Customer, the agreement between the
          parties is terminated by the Contractor on the one hand,
          since the contract does not enter into force. The
          customer may not be notified about this. If the title
          units arrive at the details of the Contractor after the
          specified period, then such funds are transferred back
          to the Customer's account, and all commission costs
          associated with the transfer are deducted from these
          funds.
        </p>
        <p>
          5.4. If there is a delay in the transfer of funds to the
          details specified by the Customer, due to the fault of
          the settlement system, the Contractor shall not be
          liable for damage resulting from the long receipt of
          funds. In this case, the Customer must agree that all
          claims will be made against the settlement system, and
          the Contractor shall provide its assistance to the best
          of its ability within the law.
        </p>
        <p>
          5.5. In the event that a fake of communication flows is
          detected or an impact is exerted in order to worsen the
          work of the Contractor, namely its program code, the
          application is suspended, and the transferred funds are
          subject to recalculation in accordance with the current
          agreement. If the Customer does not agree with the
          recalculation, he has the full right to terminate the
          contract and the title units will be sent to the details
          specified by the Customer.
        </p>
        <p>
          5.6. In the case of using the services of the
          Contractor, the Customer fully agrees that the
          Contractor bears limited liability in accordance with
          the scope of these rules for the received title units
          and does not give additional guarantees to the Customer,
          and also does not bear additional responsibility to him.
          Accordingly, the Customer does not bear additional
          responsibility to the Contractor.
        </p>
        <p>
          5.7. The Customer undertakes to comply with the norms
          corresponding to the law, as well as not to fake
          communication flows and not create obstacles for the
          normal operation of the Contractor's program code.
        </p>
        <p>
          5.8. The Contractor shall not be liable for damages and
          consequences in the event of an erroneous transfer of
          electronic currency in the event that the Customer
          indicated incorrect details when submitting an
          application.
        </p>
        <p>
          5.9. The contractor may charge a commission of 10% +
          transfer fee in the event that the contractor cannot
          complete the application (send money to the client on
          the card) due to the fact that the customer’s bank card
          is blocked or is suspected of fraud at the services bank
          security if the customer cancels the transaction
          unilaterally.
        </p>
        <p>
          5.10. The administration of the exchange service has the
          right to perform an AML check of assets received from
          the client. If the transaction has a high risk, then the
          Contractor has the right to withhold an additional
          commission.
        </p>
        <p>
          5.11. The Service has the right to conduct additional
          checks of the User's information and request from the
          User any necessary documentation for any reason related
          to his use of the services of the Service and / or as
          supporting evidence for any information that the User
          provides to the Service.
        </p>
        <p>
          5.12. User support is carried out by operators only on
          the site.
        </p>
        <p>
          5.13. The Service has the right to cancel an application
          created by the User for the exchange of cryptocurrency,
          electronic money or fiat currency, if payment for such
          an application has not been received to the account of
          the Service after 30 (thirty) minutes from the moment
          such an application was created.
        </p>
        <p>
          5.14. The Service has the right to refuse to perform the
          exchange if the transfer of cryptocurrency, electronic
          money or fiat currency to the Service account was made
          without filling out an Application using the user
          interfaces on the Service Website. Cryptocurrency,
          electronic money or fiat currency transferred to the
          account of the Service by the User without filling out
          an Application using the user interfaces on the Service
          Website can be returned to the User upon request, taking
          into account the deduction of the payment system
          commission in accordance with the restrictions
          established by these Rules.
        </p>
        <p>
          5.15. The Service has the right to refuse to provide
          services to the User if the User does not provide
          complete and sufficient data necessary for his
          identification, and block the Funds received from the
          User until such data is provided by him.
        </p>
        <p>
          5.16. To check transactions against money laundering,
          the exchange office uses the AMLbot service. You can
          learn more about this service at the link: amlbot.com
        </p>
        <p>
          5.17. When checking transactions for anti-money
          laundering, the exchange office focuses on high-risk
          parameters. The high risk parameters are: "Dark
          Service»; "Dark Market" ; "Exchange Fraudulent" ; "scam"
          ; "Illegal Service" ; "Stolen" ; "Mixer" ; "Ransom" ;
          "Gambling".
        </p>
        <p>
          5.17.1. In order to counter the legalization of proceeds
          from crime and the financing of terrorism, exchange
          offices conduct AML checks on transactions received from
          clients. If the transaction is identified.
        </p>
        <p>
          5.17.2. In case of blocking the cryptocurrency by the
          exchange. The transaction will be suspended until the
          full release of funds, i.e., before the removal of all
          restrictions by the regulator.
        </p>
        <p>6. Warranty Period</p>
        <p>
          6.1 Reputational and material guarantees are borne by
          the licensee loptrade.com
        </p>
        <p>
          6.2 Within 24 hours from the moment of execution of the
          title exchange the Executor provides a warranty for the
          services rendered, unless otherwise stated.
        </p>
        <p>7. Unforeseen circumstances.</p>
        <p>
          7.1 In the event that unforeseen circumstances arise
          during the processing of the Customer's application that
          contribute to the Contractor's failure to fulfill the
          terms of the contract, the deadlines for fulfilling the
          application are postponed for the corresponding period
          of force majeure. The Contractor is not liable for
          overdue obligations.
        </p>
        <p>
          7.2 The user has 3 withdrawals before requesting
          verification, the withdrawal must not exceed 60,000 USD
        </p>
        <p>
          7.3 Under no circumstances may a person under 18 years
          of age be registered or used.
        </p>
        <p>
          7.4 If you are transferring to a country with a high
          risk for financial transactions or have a multi-account
          and created a new identity to circumvent this clause,
          any country to which the United States has embargoed
          goods or services; from a high-risk of illegal financial
          transaction country, to withdraw funds from these
          countries, the user needs to go through an insurance
          payment check. This insurance payment will be refunded
          after 12 hours using your account, if you have no
          complaints. Your account may be frozen until a fee of up
          to 75% is paid, in case of refusal or conflict -
          blocked. Countries with high financial risk are those
          that are under sanctions at the time of the transaction,
          take part in or support a war, finance or are associated
          with the financing of terrorism, help to circumvent
          sanctions to other countries, are intermediaries in the
          financing of terrorism.
        </p>
        <p>
          7.5 Withdrawals to countries other than the Greece are
          limited. Users may be denied service or withdrawals
          without insurance (the insured amount can be up to 75%
          of the user's balance, depending on the country of
          residence and citizenship).
        </p>
        <p>
          7.6 Withdrawals to the countries listed in paragraphs
          7.4 and 7.5 are restricted. Withdrawal of funds is
          carried out only through the trust fund and only at the
          discretion of management, you can be refused without
          reason. All costs of establishing, maintaining and
          paying for the trust fund are borne by the user. The
          trust fund is opened only in the legal name of our
          platform. Once the fund is closed, the user receives a
          95% refund of the originally invested funds.
        </p>
        <p>
          8. Form of agreement. Both parties, represented by the
          Contractor and the Customer, accept this agreement as an
          agreement of equal legal force, indicated in writing.
        </p>
        <p>
          9 Claims and disputes. Claims under this contract are
          accepted by the Contractor in the form of a support chat
          message, in which the Customer specifies the essence of
          the claim. This letter shall be sent to the support
          service
        </p>
        <p>10. Carrying out exchange transactions.</p>
        <p>
          10.1. It is strictly forbidden to use the services of
          the Contractor for illegal transfers and fraudulent
          activities. When concluding this agreement, the Customer
          undertakes to comply with these requirements and, in
          case of fraud, bear criminal liability established by
          law at the moment. 10.2. If it is impossible to fulfill
          the application automatically, due to circumstances
          beyond the control of the Contractor, such as lack of
          communication, lack of funds, or erroneous data of the
          Customer, the funds are credited to the account within
          the next 24 hours or returned to the details of the
          Customer minus commission costs.
        </p>
        <p>
          10.3. At the first request, the Contractor has the right
          to transfer information about the transfer of electronic
          currency to law enforcement agencies, the administration
          of settlement systems, as well as victims of illegal
          actions affected by fraud proven by the judicial
          authorities. 10.4. The customer undertakes to provide
          all documents proving his identity in case of suspicion
          of fraud and money laundering.
        </p>
        <p>
          10.5. The Customer undertakes not to interfere with the
          work of the Contractor and not damage its software and
          hardware, and the Customer undertakes to transmit
          accurate information to ensure that the Contractor
          fulfills all the terms of the contract.
        </p>
        <p>
          10.6. This exchange office does not fix the exchange
          rate at the time of the creation of the application.
        </p>
        <p>
          10.7. A completed application cannot be canceled in
          full.
        </p>
        <p>
          10.8. The minimum withdrawal can be changed, as well as
          the amount of commission. In order to avoid
          misunderstandings - the user should clarify the current
          conditions.
        </p>
        <p>
          11. Disclaimer. The Contractor has the right to refuse
          to conclude an agreement and fulfill the application,
          and without explanation. This paragraph applies to any
          client.
        </p>
        <p>12. Fees</p>
        <p>
          12.1. Amount of fees. You agree to pay fees for
          transactions made through our Services (“Fees”) set
          forth in the “Fees and Pairing Information” section
          (“Fees Schedule”), which we may change from time to
          time. Changes to the Price List will become effective on
          the effective date specified when the revised Price List
          is posted on the Services and will apply to any
          transactions made after the effective date of such
          revised Price List.
        </p>
        <p>
          12.2. If a deposit is made without a fee, the system
          freezes the account until the amount is paid again,
          including all fees from our platform and blockchain
        </p>
        <p>
          12.3. Third Party Fees. In addition to the Fees, your
          External Account may be subject to fees in connection
          with your use of your designated External Account
          through the Services. Any fees charged by your external
          account provider will not be reflected in the
          transaction screens containing information about the
          applicable fees. You are solely responsible for paying
          any fees charged by the external account provider.
        </p>
        <p>
          12.4. Payment of duties. You authorize us or our
          authorized payment processor to charge or deduct funds
          from your FinCoinz account against any applicable fees
          due in connection with transactions you make through the
          Services.
        </p>
        <p>
          12.5. Internal fees. You agree to pay an internal fee of
          1% (exchange services).
        </p>
        <p>
          12.6. Deposit fees 1 % (first transaction 0%) fees and
          withdrawal fees 0% fees.
        </p>
        <p>
          13 Termination. In the event of a force majeure event, a
          breach of this agreement, or any other event that would
          make the provision of the Services commercially
          unreasonable for Payward, we may, in our sole discretion
          and without liability to you, or without notice to you
          suspend your access to all or part of our Services. We
          may terminate your access to the Services in our sole
          discretion, immediately and without notice, and delete
          or deactivate your FinCoinz Account and all related
          information and files in such account, without any
          liability to you, including, for example, if you violate
          any provision of these Terms. In the event of
          termination, Payward will not attempt to recover any
          Funds held in your FinCoinz Account that are not
          otherwise due to Pay Ward.
        </p>
        <p>
          14 Reimbursement. You agree to defend, indemnify and
          hold harmless Payward (and each of our officers,
          directors, members, employees, agents and affiliates)
          from and against any and all claims, demands, actions,
          damages, losses, costs or expenses, including but not
          limited to , reasonable attorneys' fees arising out of
          (a) your use of or conduct in connection with our
          Services; (b) any feedback you provide; (c) your breach
          of these Terms; or (d) your violation of any rights of
          any other person or entity. If you are obligated to
          indemnify us, we will have the right, in our sole
          discretion, to monitor any action or proceeding (at our
          expense) and determine whether we wish to resolve it.
          Miscellaneous Entire Agreement; Order of precedence.
          These Terms contain the entire agreement, and supersede
          all prior and contemporaneous agreements between the
          parties with respect to the Services. These Terms do not
          change the terms of any other electronic or written
          agreement you may enter into with Payward regarding the
          Services or any other Payward product or service or
          otherwise. In the event of a conflict between these
          Terms and any other agreement you may enter into with
          Payward, the terms of that other agreement will take
          precedence only to the extent that these Terms are
          specifically defined and declared to take precedence
          over such other agreement. Amendment. We reserve the
          right to make changes or modifications to these Terms
          from time to time at our sole discretion. If we make
          changes to these Terms, we will notify you of such
          changes, for example, by sending you an email, posting a
          notice on the home page of the Site and/or posting the
          amended Terms through the relevant Payward websites and
          mobile applications, and updating the “Last Updated”
          date on the top of these Terms. The amended Terms will
          be deemed effective immediately upon posting to any new
          users of the Services. In all other cases, the modified
          Terms will take effect for pre-existing users, whichever
          occurs first: (i) the date users click or press a button
          to accept such changes, or (ii) continue using our
          Services after 30 days after Payward provides notice of
          such changes. Any modified Terms will apply to your use
          of the Services after such changes become effective. If
          you do not agree to any amended Terms, you must stop
          using our Services and contact us to close your account.
          Refusal. Our denial or delay in exercising any rights,
          powers or privileges under these Terms shall not
          constitute a waiver of them. Divisibility. The
          invalidity or unenforceability of any of these Terms
          shall not affect the validity or enforceability of any
          other of these Terms, all of which shall remain in full
          force and effect. Force majeure circumstances.
        </p>
        <p></p>
      </div>
    </section>
  </main>
</div>
